<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Crossmarx</title>
</head>
<body>
    <header>
        <h1>CrossmarX Hand- Footprint Calculator</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">Overzicht</a></li>
            <li><a href="#">Berekenen</a></li>
            <li><a href="#">Inloggen</a></li>
        </ul>
    </nav>