<h2> Select your SDG`s here</h2>
<p id="count">0 checkboxes selected</p>
<script defer src="script.js"></script>
<link rel="stylesheet" href="sdg.css">
<section class="sdg-container">
	<form method="POST" action="/">
		<% sdgs.forEach(function(sdg) { %>
			<label>
				<input type="checkbox" class="checkbox" tabindex="0" name="sdg" value="<%= sdg.number%>">
				<img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" class="sdg">
			</label>
			<% }) %>
				<input type="submit" value="Submit" class="btn">
	</form>
</section>