<section class="score-container">
    <% sdg.forEach(sdg => { %>
    <article>
            <h3><%= sdg.title %></h3>
            <picture> <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" class="sdg"> </picture> 
            <form>
                <label>
                    <select>
                        <option value="-5">-5</option>
                        <option value="-4">-4</option>
                        <option value="-3">-3</option>
                        <option value="-2">-2</option>
                        <option value="-1">-1</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </label>
                <% }); %>
                <input type="submit" value="Submit" class="btn">
            </form>
        </article>
</section>