<section class="score-container">
    <% sdg.forEach(sdg => { %>
        <article>
            <h3><%= sdg.title %></h3>
            <picture> <img src="https://fdnd-agency.directus.app/assets/<%= sdg.icon %>" alt="<%= sdg.title %>" class="sdg"> </picture> 
            <form>
                <label>
                    <input type="range" min="-5" max="5" name="score"  tabindex="0">
                </label>
                <% }); %>
                <input type="submit" value="Submit" class="btn">
            </form>
        </article>
</section>