<%- include('partials/head') %>
<main>
    <link rel="stylesheet" href="score.css">
    <h2> Assign a score to each SDG </h2>
    <%- include('partials/selectedsdg') %>
</main>
<%- include('partials/foot') %>