#count{
    text-align: center;
}

.hero{
    display: block;
    margin: auto;
    padding: 2em;
    width: 550px;
    float: left;
}

.sdg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

input{
    display: none;
}

.sdg{
    height: 175px;
    width: 175px;
    filter: grayscale(95%);
    margin: .2em .2em;
}

input:checked + .sdg, .sdg:hover{
    filter: grayscale(0%);
}