.score-container {
    padding: 2em;
    margin: 1em;
    & article {
        display: flex;
        flex-direction: column;
        & picture {
            display: flex;
            justify-content: center;
            & img { border-radius: 5px; }
            & form {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 1em;
    width: 175px;
}

.sdg {
    height: 175px;
    width: 175px;
    margin: .2em .2em;
}

.btn {
    display: block;
    margin: auto;
    padding: 1em;
    width: 200px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}