.score-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3em;
    margin: 2em;
}

.sdg{
    height: 175px;
    width: 175px;
    margin: .2em .2em;   
}

.btn{
    display: block;
    margin: auto;
    padding: 1em;
    width: 200px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
}