@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
@import url('nav.css');

:root {
    --bg-color: #1d1d1d;
    --text-color: #CECECE;
    --primary-color: #7adaa7;
    --secondary-color: #a0e5cd;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: var(--primary-color);
}

h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: var(--primary-color);
}

a { color: var(--primary-color); }